<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            font-family: "Open Sans"; 
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Details</title>
    <h1 style='text-align: center; font-size: 40px;'>HotZone</h1>
</head>
<body>
    <h2>Enter Location Details -</h2>
    <br><br>
    <form  action = "{% url 'location_details_added' %}"method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Location Details">
    </form>
</body>
</html>