<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            font-family: "Open Sans"; 
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Details</title>
    <h1 style='text-align: center; font-size: 40px;'>HotZone</h1>
</head>
<body>
    <h2>Location added successfully to the case: </h2>
    <p> Case ID - {{ caseid }}</p>
    <p> Patient Name - {{ patientname }}</p>
    <p> Location - {{ location }}</p>
    <p> Address - {{ address }}</p>
    <p> X - Coordinates - {{ xcoord }}</p>
    <p> Y - Coordinates - {{ ycoord }}</p>
    <p> Date From - {{ datefrom }}</p>
    <p> Date To - {{ dateto }}</p>
    <p> Category - {{ category }}</p>
    <p></p>

    <button onclick="location.href= '/user/addcasedetails'">Add Case</button>
    <button onclick="location.href= '/user/addlocationdetails'">Add Another Location</button>
    <p></p>
    <button onclick="location.href= '/user/'">Home Page</button>
    <button onclick="location.href= '/'">Logout</button>

</body>
</html>