<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            font-family: "Open Sans"; 
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <h1 style='text-align: center; font-size: 40px;'>HotZone</h1>
</head>
<body>
    <h1>Login</h1>
    <div style="display: inline;">
        <p>Username:</p>
        <form>
            <input type="text" name="username" placeholder="Username or email id">
        </form>
    </div>
    <div>
        <p>Password:</p>
        <form>
            <input type="text" name="username" placeholder="Password">
        </form>
    </div>
    <p></p>
    <button onclick="location.href= '/user'">Login</button>
</body>
</html>