<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            font-family: "Open Sans"; 
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <h1 style='text-align: center; font-size: 40px;'>HotZone</h1>
</head>
<body>
    <h2>Welcome User</h2>
    <button onclick="location.href= '/user/addcasedetails'">Add Case Details</button>
    <button onclick="location.href= '/user/addlocationdetails'">Add Location Details</button>
    <p></p>
    <button onclick="location.href= '/'">Logout</button>
</body>
</html>